mixin navbar()
  nav.navbar
    .container
      .navbar-header
        a.navbar-brand(href="#") Mi Aplicación
      .navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Inicio
          li
            a(href="#") Acerca de
          li
            a(href="#") Contacto
          li
            a(href="http://google.com") Google
          li
            a(href="http://facebook.com") Facebook
          li
            a(href="http://twitter.com") Twitter