extends ../layouts/main.pug

block content
  section.error-page
    h1 Publicación no encontrada
    p El contenido solicitado no existe o ya no se encuentra disponible.
    a.btn(href="/publications") Volver a publicaciones